$grid-breakpoints: (
  sm: 375px,
  md: 768px,
  lg: 1240px,
  xl: 1400px
) !default;

@mixin breakpoint-down($name, $breakpoints: $grid-breakpoints) {
  $max: map-get($breakpoints, $name);
  @media (max-width: $max) {
    @content;
  }
}
